<aside class="col-12 col-md-3 col-xl-2 bd-sidebar">
  <nav class="bd-links collapse" id="bd-docs-nav">
    <ul class="sidebar">
      <li class="sidebar-list-item">
        <a
          href="#"
          data-toggle="modal" data-target="#addCustomer" 
          class="sidebar-link">
          <span>Add customer</span>
        </a>
      </li>
      <li class="sidebar-list-item">
        <a
          href="#"
          data-toggle="modal" data-target="#addProduct" 
          class="sidebar-link">
          <span>Add products</span>
        </a>
      </li>
      <li id="divider"></li>
      <li class="sidebar-list-item">
        <button 
          type="submit"
          class= "sidebar-link text-muted btn-logout"
          (click) = "isLogout()">
          <span>Logout</span>
        </button>
      </li>
    </ul>
  </nav>
</aside>

<app-add-product></app-add-product>
<app-add-customer></app-add-customer>
